* {
  font-size: 14;
  font-weight: bold;
  height: auto;
  width: auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.App {
  background-color: rgb(0, 0, 63);
  min-height: 800px;
}

.header {
  min-height: 60px;
  line-height: 60px;
  background-color: navy;
}

.header-logo {
  display: inline-block;
  font-size: 24px;
  font-family: fantasy;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 2px 2px gray;
  width: 40%;
  color: white;
}

.header-search * {
  background-color: rgb(0, 0, 63);
}

.search-icon {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 0 50px 50px 0;
}

.movie-container {
  margin: 5% 0 0 5%;
  width: 90%;
  min-height: 800px;
  background-color: rgb(0, 0, 63);
}

.movie {
  display: inline-flex;
  flex-direction: column;
  height: 500px;
  width: 20%;
  box-shadow: 1px 1px 1px 1px grey;
  border-radius: 3px;
}

.movie-img {
  height: 70%;
  width: 100%;
  background-color: white;
  border-radius: 3px 3px 0 0;
}

.movie-info {
  height: 30%;
  width: 100%;
  background-color: grey;
  border-radius: 0 0 3px 3px;
}

input, textarea {
  text-indent: 2px;
  color: grey;
  height: 40px;
  width: 80%;
  outline: none;
}

